@using eCommerce.Entities
@using eCommerce.Shared
@model eCommerce.Web.ViewModels.FeaturedProductsViewModel

@if (Model.Products != null && Model.Products.Count > 0)
{
    <section class="section-margin--small calc-60px">
        <div class="section-intro pb-60px">
            @*<p>@ConfigurationsHelper.ApplicationName's</p>*@
            <h2 style="text-align: center;background-color: #100100;color: white;margin-top: 1%;font-size: 25px;padding: 7px;">Latest <span class="section-intro__style">Products</span></h2>
        </div>
        <div class="container" style="margin-top:1%">
            <div class="row col-12">
                @foreach (var product in Model.Products)
                {
                    var currentLanguageProductRecord = product.ProductRecords.FirstOrDefault(x => x.LanguageID == AppDataHelper.CurrentLanguage.ID);

                    var currentLanguageProductCategoryRecord = product.Category.CategoryRecords.FirstOrDefault(x => x.LanguageID == AppDataHelper.CurrentLanguage.ID);

                    var sanitizedSEOTitle = AppDataHelper.CurrentLanguage.ShortCode == LanguagesHelper.EnglishLanguageShortCode && currentLanguageProductRecord != null ? currentLanguageProductRecord.Name.SanitizeLowerString() : string.Empty;

                    var detailsLink = Url.ProductDetails(category: product.Category.SanitizedName, ID: product.ID, sanitizedtitle: sanitizedSEOTitle, productTypeID: product.ProductTypes.FirstOrDefault().ID);

                    var productPrice = product.ProductTypes.FirstOrDefault().Discount.HasValue && product.ProductTypes.FirstOrDefault().Discount.Value > 0 ? product.ProductTypes.FirstOrDefault().Discount.Value : product.ProductTypes.FirstOrDefault().Price;

                    var thumbnail = PictureHelper.GetProductThumbnail(product.ProductPictures, product.ThumbnailPictureID) ?? null;

                    if (product.ProductPictures != null && product.ProductPictures.Count > 0)
                    {
                        var selectedThumbnail = product.ProductPictures.FirstOrDefault(x => x.PictureID == product.ThumbnailPictureID);

                        thumbnail = selectedThumbnail != null ? selectedThumbnail.Picture : product.ProductPictures.FirstOrDefault().Picture;
                    }

                    <div class="col-lg-3 col-md-6 col-sm-12 product-item">
                        <div class="pi-pic">
                            <a href="@Url.ProductDetails(product.Category.SanitizedName, product.ID,productTypeID: product.ProductTypes.FirstOrDefault().ID)">
                                @Html.Picture(thumbnail, "card-img", alt: product.ThumbnailPictureID.ToString())
                                <div class="newstock"></div>
                            </a>
                            <ul class="itemCartHolder">

                                <li class="w-icon active"><a href="@detailsLink" title="@("PP.Shopping.ViewProduct".Localized())"><i class="fas fa-eye"></i></a></li>

                                @if (product.ProductTypes.FirstOrDefault().StockQuantity > 0)
                                {
                                    <li class="w-icon active"><a title="@("PP.Shopping.AddToCart".Localized())" data-id="@product.ID" data-price="@product.ProductTypes.FirstOrDefault().Price" class="pointerCursor btnAddToCart"><i class="fas fa-cart-plus"></i></a></li>
                                }
                            </ul>
                        </div>
                        <div class="pi-text">
                            <a href="@Url.SearchProducts(product.Category.SanitizedName)" class="catagory-name">
                                @product.Category.SanitizedName.ToString()
                            </a>
                            <h5 class="card-product__title">                                
                                   @(currentLanguageProductRecord != null ? currentLanguageProductRecord.Name : string.Empty)                                
                            </h5>
                            <p class="card-product__price ltr-dir">
                                @product.ProductTypes.FirstOrDefault().Price.WithCurrency()
                            </p>
                        </div>
                 </div>
                 }
                <div style="background-color: #00000017; height: 2px; width: 100%;margin-bottom:5%"></div>
            </div>
        </div>
    </section>
}
