@using eCommerce.Entities
@using eCommerce.Shared
@model eCommerce.Web.ViewModels.RelatedProductsViewModel

@if (Model.Products != null && Model.Products.Count > 0)
{
    <div class="related-products spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        @if (Model.IsFeaturedProductsOnly)
                        {
                            <h2 style="font-weight:bold">@("PP.ProductDetails.FeaturedProducts".Localized())</h2>
                        }
                        else
                        {
                            <h2>@("PP.ProductDetails.RelatedProducts".Localized())</h2>
                        }
                    </div>
                </div>
            </div>
            <div class="row">
                @foreach (var product in Model.Products)
                {
                    var currentLanguageProductRecord = product.ProductRecords.FirstOrDefault(x => x.LanguageID == AppDataHelper.CurrentLanguage.ID);

                    var currentLanguageProductCategoryRecord = product.Category.CategoryRecords.FirstOrDefault(x => x.LanguageID == AppDataHelper.CurrentLanguage.ID);

                    var thumbnail = PictureHelper.GetProductThumbnail(product.ProductPictures, product.ThumbnailPictureID);

                    var sanitizedSEOTitle = AppDataHelper.CurrentLanguage.ShortCode == LanguagesHelper.EnglishLanguageShortCode && currentLanguageProductRecord != null ? currentLanguageProductRecord.Name.SanitizeLowerString() : string.Empty;

                    var detailsLink = Url.ProductDetails(category: product.Category.SanitizedName, ID: product.ID, productTypeID: product.ProductTypes.FirstOrDefault().ID);

                    var productPrice = product.ProductTypes.FirstOrDefault().Discount.HasValue && product.ProductTypes.FirstOrDefault().Discount.Value > 0 ? product.ProductTypes.FirstOrDefault().Discount.Value : product.ProductTypes.FirstOrDefault().Price;

                    <div class="col-lg-2 col-sm-6">
                        <div class="product-item">
                            <div class="pi-pic">
                                @if (product.ProductTypes.FirstOrDefault().StockQuantity == 0)
                                {
                                    <div class="outofstock"></div>
                                }
                                <a href="@Url.ProductDetails(product.Category.SanitizedName, product.ID,productTypeID: product.ProductTypes.FirstOrDefault().ID)">
                                    @Html.Thumbnail(picture: thumbnail, targetSize: 130, seoTitle: sanitizedSEOTitle, classes: "m-auto", alt: currentLanguageProductRecord != null ? currentLanguageProductRecord.Name : string.Empty)
                                </a>
                                @if (product.isFeatured)
                                {
                                    <div class="featured">
                                        @("PP.ProductDetails.RelatedProductsFeatured".Localized())
                                    </div>
                                }
                                <ul class="itemCartHolder">
                                    <li class="w-icon active"><a onclick="showDetails(@product.ID, @product.ProductTypes.FirstOrDefault().ID, '@product.Category.SanitizedName')" @*href="@detailsLink"*@ title="@("PP.Shopping.ViewProduct".Localized())"><i class="fas fa-eye"></i></a></li>
                                    @if (product.ProductTypes.FirstOrDefault().StockQuantity > 0 && !User.IsInRole("Guest"))
                                    {
                                        <li class="w-icon active"><a title="@("PP.Shopping.AddToCart".Localized())" data-id="@product.ID" data-price="@product.ProductTypes.FirstOrDefault().Price" class="pointerCursor btnAddToCart"><i class="fas fa-cart-plus"></i></a></li>
                                    }
                                </ul>
                            </div>
                            <div class="pi-text">
                                <a class="catagory-name" href="@Url.SearchProducts(category: product.Category.SanitizedName)">@(currentLanguageProductCategoryRecord != null ? currentLanguageProductCategoryRecord.Name : string.Empty)</a>
                                @if (!User.IsInRole("Guest"))
                                {
                                    <div class="product-price ltr-dir">
                                        @if (product.ProductTypes.FirstOrDefault().Discount.HasValue && product.ProductTypes.FirstOrDefault().Discount.Value > 0)
                                        {
                                            <span>
                                                @product.ProductTypes.FirstOrDefault().Price.WithCurrency()
                                            </span>
                                        }
                                        @productPrice.WithCurrency()
                                    </div>
                                }
                                <a href="@detailsLink">
                                    <h5>
                                        @(currentLanguageProductRecord != null ? currentLanguageProductRecord.Name : string.Empty)
                                    </h5>
                                </a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
}
<!-- Product details Modal Popup HTML -->
<div id="productDetailsModal" class="modal fade">
    <div class="modal-dialog modal-lg" style="margin-top: 5%;max-width: 950px">
        <div class="modal-content">
            <div class="modal-body">
                <div id="productDetailsPopup"></div>
            </div>
        </div>
    </div>
</div>

<!-- JavaScript to show the modal popup on button click -->
<script>

    function showDetails(ID, productTypeID, category) {
        $.get('/Products/ProductDetails', { ID: ID, productTypeID: productTypeID, category: category }, function (data) {
            $('#productDetailsPopup').html(data);
            $('#productDetailsModal').modal("show"); // Display the popup
        });
    }
</script>